@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-toast-width: 'auto';
  --toastify-color-info: #0085dd;
  --toastify-color-success: #00be06;
  --toastify-color-warning: rgb(255, 180, 17);
  --toastify-color-error: #e41801;
  --toastify-text-color-info: #ffffff;
  --toastify-text-color-success: #ffffff;
  --toastify-text-color-warning: #ffffff;
  --toastify-text-color-error: #ffffff;
  --toastify-color-progress-bgo: .3;
  --bg-element: #F5F5F5;
  --main-text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-element: #363636;
    --main-text-color: #ffffff;
  }
}

.slick-arrow:before {
  color: var(--main-text-color);
}